@mixin flex {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

@mixin flex($direction, $wrap, $justify-content, $align-items) {
    display: flex;
    flex-flow: $direction $wrap;
    justify-content: $justify-content;
    align-items: $align-items;
}


@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
    
}


@mixin centerX {
    display: flex;
    justify-content: center;
}


@mixin bolt {
    font-family: 'Montserrat-Bold';
}

@mixin Regular {
    font-family: 'Montserrat-Regular';
}

@mixin Light {
    font-family: "Roboto-Light";
}

@mixin avatar {
    width: 100px;
    height: 100%;
    background-size: cover;   
}


@mixin  pick {
    width: 32%;
    height: 100%;
    background-size: cover;

}

@mixin pickrelax {
    width: 66%;
    height: 100%;
    background-size: cover;
}

@mixin picktop {
    width: 100%;
    margin-bottom: 10px;
    border-radius: 20px;
}

@mixin scale {
    transform: scale(1.1);
    transition: all 0.4s;
    
}

@mixin row {
    display: flex;
    flex-direction: row;
}