* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f5f4f6!important 
}

.main {
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}


.form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;    
    flex-direction: column;
   

}

h1{
    margin-bottom: 1.5rem;
}


button {
    width: 30%;
    height: 50px;
    color: #ffff    ;
    background-color: #0062cb;
    border-radius: 5px;
    border: none;
}

.form-floating{
    width: 30%;
    margin-bottom: 20px;
}

.form-control {
    transition:  1s;
}

.fas{
    position: absolute;
    bottom: 23px;
    left: 91%;
    color: green;
}

.fa-times {
    color: red;
}

.text__Sign ,.text__SignIn{
    text-align: end ;
    color: #0062cb;
    cursor: pointer;

}
.display{
    display: none;
}
.green{
    background-color: #228237;
}
.bdr{
    border-radius: 5px;
}

.account{
    width: 30%;
    height: 34rem;
    display: none;
    flex-direction: column;
}

.account__block{
    width: 100%;
    height: 34rem;
    background-color: #ffffff;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    font-size: 30px;
    flex-direction: column;
}

.account__img{
    width: 25%;
    height: 29%;
    background-image:  url("https://i.dlpng.com/static/png/7019979_preview.png");
    background-size: 100%,100%;
    background-repeat: no-repeat;
}
.account__img,.account__name{
    margin-top: 40px;
    font-weight: 900;
}

.account__name{
    margin-bottom: 10px;
}
.font__size{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 20px;
    color: #aaaaaa;
}
.hr{
    margin-top: 15px;
    width: 40%;
    border-bottom: 1px solid #aaaaaa;
}
.width{
    width: 100%;
}
.cross{
    font-size: 25px;
    background-color: #ffffff;
    color: black;
    cursor: pointer;
    margin-right: 20px;
}
.header {
    padding: 0px!important;
}
.modal{
    top: 302px!important;
}
.overlay {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: black;
    opacity: .4;
    z-index: 0;
}
.modal-body{
    display: flex;
    justify-content: center;
    align-items: center;
}