*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.overlay {
    display: none;
    position: fixed;
    left: 0; right: 0; top: 0; bottom: 0;
    background: black;
    opacity: .4;
    z-index: 0;
  }
  
.body{
    width: 100%;
    height: 100vh;
    
    
}

.header{
    width: 100%;
    height: 19%;
    background-color:#68696a ;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.block-line {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    z-index: 0;
}
.fas, .far{
    font-size: 25px;
}
.btn-group,.loock{
    margin-left: 30px;
}
.btn-secondary{
    background-color: #ffffff;
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    
}
.form-select{
    width: 120px;
    font-size: 100px;
    
}
option{
    background-color: #ffffff;
    width: 50px!important;
}
.footer,.monitor    {
    padding: 20px;
    min-height: 81vh;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.monitor{
    height: 80%;
    
}
.texr-B {
    font-weight: 900;
}
.font-Cursiv{
    font-style: italic;
}
.font-decoration {
    text-decoration: underline
}
.text-through {
    text-decoration:line-through
}
.display,.monitor{
    min-width: 10%;
    min-height: 300px;
    
}

.colorText ,.colorBG,.singIn,.iteamLi,.iteamUl,.tableNew{
    width: 50%;
    background-color: white;
    position: absolute;
    left: 32%;
    top:66px;
    border-radius: 5px;
    padding: 30px;
    display: none;
}
.colorText ,.colorBG {
    left: 24%;
}


.cross{
    position: absolute;
    top: 36px;
    left: 93%;
    cursor: pointer;
}
.h4{
    color: black;
}
.block__Color{
    margin-top: 40px;
    width: 100%;
    height: 350px;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.color,.bg{
    width: 13%;
    height: 31%;
    border-radius: 10px;
    background-color: rosybrown;
}

.litGrean{
    background-color: #0caa9b;
}
.grean{
    background-color: #098f84;
}
.parakeet{
    background-color: #22b66f;
}
.shamRock{
    background-color: #1c9b5f;
}
.litBlue{
    background-color: #2a92df;
}
.blue{
    background-color: #227abb;
}
.litPurple{
    background-color: #9d65b7;
}
.purple{
    background-color: #9151ae;
}
.blueBlack{
    background-color: #32485f;
}
.blackBlue{
    background-color: #293d50;
}
.yellow{
    background-color: #f6bc07;
}
.lightOrange{
    background-color: #fa9b0c;
}
.orange{
    background-color: #ee821c;
}
.lightRed{
    background-color: #dc5b00;
}
.redLight{
    background-color: #f35a3a;
}
.red{
    background-color: #c94426;
}
.white{
    background-color: #eceff2;
}
.lightGray{
    background-color: #bdc2c7;
}
.gray{
    background-color: #92a3a5;
}
.grayBlack{
    background-color: #7d898c;
}
.black{
    background-color: black;
}



.nav-link{
    cursor: pointer;
}
.img{
    width: 100%;
    justify-content: space-between;
    margin-top: 10px;
    display: none;
    justify-content: space-between;
    flex-wrap: wrap;
}
.img__block{
    width: 30%;
    height: 120px;
    border-radius: 5px;
    margin-bottom: 10px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.pick1{
    background-image: url('img/1.jpg');
}
.pick2{
    background-image: url('img/2.jpg');
}
.pick3{
    background-image: url('img/3.jpg');
}
.pick4{
    background-image: url('img/4.jpg');
}
.pick5{
    background-image: url('img/5.jpg');
}
.pick6{
    background-image: url('img/6.jpg');
}
.pick7{
    background-image: url('img/7.jpg');
}
.pick8{
    background-image: url('img/8.jpg');
}
.pick9{
    background-image: url('img/9.jpg');
}
.browser{
    margin-top: 40px;
}

.bg{
    margin-bottom: 20px;
}
.bgColor {
    min-height: 50px;
    margin-top: 40px;
    width: 100%;
    height: 350px;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.form-group{
    width: 100%;
    height: 50px;
}
.h2{
    margin-top: 40px;
}

.singIn{
    justify-content: center;
    align-items: center;
}
.form,.width{
    width: 100%;
}
#exampleInputEmail1,#exampleInputPassword1{
    width: 100%;
    height: 48px;
    margin-bottom: 20px;
    /* border: 2px solid rgb(253, 161, 161); */
}
.btnSing{
    margin-top: 20px;
    width: 100%;
}
.singIn{
    text-align: center;
}

.block__create{
    display: none;
    z-index: 0;
}

.monitor{
    width: 100%;
    display: none;
    outline: none;
    border: none;
}

.iteamLi,.iteamUl,.tableNew{
    display: none;
    width: 36%;
   
}
.oI{
    margin-bottom: 40px;
}

#margin{
    margin-bottom: 3rem;
}
.width{
    width: 48%;
}
.btnOne{
    margin-right: 20px;
}
.rowBtn{
    display: flex;
    flex-direction: row;
}
.cross1{
    top: 5%;
    left: 92%;
}

#dropdownMenuButtonFontSize{
    border-radius: 0;
  
}

.dropdownMenuButtonFontFamily{
    border-top-left-radius:0 ;
}
.font{
    font-size: 20px;
}

.bod{
    border-bottom-right-radius: 0!important;
    border-top-right-radius: 0!important;
}
.widthTable{
    width: 97%;
}
.tableNew{
    width: 50%;
    left: 26%;
}
.creatTable,.rowTable{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.colum{
    width: 100%;
}
.tabwiht{
    width: 49%;
}

ul {
    margin-left: 20px;
}
.td{
    text-align: center;
}

.singIn{
    left: 25%;
}