*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.header,.fotter {
    width: 80%;
    min-height: 20rem;
    background-color: #ebeef1;
    margin-bottom:  10px;
    padding: 17px;
    display: flex;
    flex-direction: row;
    border: 2px solid #e7e7e7;
    
}
.header {
    margin: 20px;
}
.block__iteam{
    width: 80%;
    height: 100%;
    margin-bottom:  10px;
    padding: 17px;
    display: none;
    justify-content: center;
}
.block{
    width: 80%;
    min-height: 20rem;
    background-color: #ebeef1;
    margin-bottom:  10px;
    padding: 27px;
}
input {
    width: 50px;
    height: 30px;
    margin-bottom:  10px;
}

.block__edit {
    width: 100%;
    min-height: 20rem;
    display: none;
    justify-content: center;
    align-items: center;
    padding: 10px;
    
}
.form-control {
    width: 100%;
    height: 10rem;
    font-size: 13px;
}
.add {
    display: block;
}

.style {
    display: none;
}

.f2 {
    width: 90%;
}

.main {
    margin-top: 10px;
    margin-bottom: 10px;
}
.block__line {
    margin-top: 20px;
}

.block__style {
    width: 70%;
    min-height: 20rem;
    margin-bottom:  10px;
    flex-direction: column;
    display: none;
}

h5 {
    margin-top: 10px;
    margin-bottom: 10px;
}
.mb-3 {
    width: 40%;
}

.checkbox {
    display: flex;
    flex-direction: row;
}

.block__Color{
    width: 15%;
    height: 300px;
    flex-direction: column;
    display: none;
    justify-content: center;
    align-items: center;
}

.custom-control {
    margin-right: 20px;
}

.top__Color,.center__Color,.bottom__Color{
    width: 100%;
    height: 22%;
    display: flex;
    flex-direction: row;
}
.text__Color{
    width: 33.5%;
    height: 100%;
    
}
.red{
    background-color: #df4341;
}
.blue{
    background-color: #0073f4;
}
.green{
    background-color: #1e8e40;
}
.black {
    background-color: black;
}

.orange{
    background-color: orange;
}
.pink{
    background-color: #d64b7a;
}

.white{
    background-color: #ffffff;
}
.lightGreen{
    background-color: greenyellow;
}
.purple{
    background-color: purple;
}

.red-text {
    color: red;
}
.blue-text {
    color: blue;
}
.black-text {
    color:black;
}
.pink-text {
    color:pink;
}
.white-text {
    color:white;
}
.green-text {
    color: green;
}

.orange-text {
    color: orange;
}
.lightGreen-text {
    color: greenyellow;
}
.purple-text {
    color: purple;
}

.font-bolt{
    font-weight: bold;
}
.cursive-text  {
    font-family: cursive !important;
}

.block__table ,.block__list{
    display: none;
    margin-top: 10px;
}
.inupot_text{
    width: 95%;
    height: 40px;
}

.width-border{
    width: 50%;
}
.block__row{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.rowinp{
    width: 91%;
    display: flex;
    flex-direction: row;
}

.inupot_text1{
    width: 91%;
    height: 40px;
}

.col{
    width: 55%;
}
.lab{
    width: 49%;
    display: flex;
    align-items: center;
}
.one{
    width: 42%;
}
.custom-select {
    width: 35%;
}
.btn{
    margin-top: 15px;
}
.height{
    height: 40px;
}
.mb-3 {
    width: 99%;
}
.select{
    width: 79.5%;
}
.two{
    width: 16.5%;
}
.td{
    text-align: center;
}