@font-face  {
    font-family: 'Montserrat-Bold';
    src: url(Acert/font/Montserrat-Bold.ttf);

    
}

@font-face {
    font-family: 'Montserrat-Regular';
    src: url(Acert/font/Montserrat-Regular.ttf);
}


@font-face {
    font-family: "Roboto-Light";
    src: url(Acert/font/Roboto-Light.ttf);
}


.img_header {
    background-image: url(Acert/img/15.png);
    width: $mainwith;
    height: 50rem;
    background-size: cover;
    display: block;
    padding: 3% 15%;

    .color {
        font-size: 20px;
        color: $maincolor;
        font-family: 'Montserrat-Bold';
    
    }
    
    
}

.text__iteam {
    display: flex;
    justify-content: $mainbetven;
    height: 7%;
    width: $mainwith;
    
}


.font {
    color: $maincolor;
    font-size: 14px;
    @include Regular;
    line-height: 39px;
    
    margin-right: 20px;

    
    
}

.rigth  {
    
    width: 50%;
    display: flex;
    justify-content: flex-end;
   
   
    

    
}

.bordertext {
    @include center;
    color: $maincolor;
    @include Regular;
    width: 100px;
    height: 40px;
    border: 2px solid $maincolor;
    border-radius: 30px;
    
    .text {
       
        color: $maincolor;
        @include Regular;
    }
    
   
}
.bordertext:hover {
    transform: scale(1.1);
    background-color: #ff4e50;
    transition: all 0.5s;
} 
a {
    text-decoration: none;
}


.center {
    @include centerX;
   
    height: 86%;
    @include bolt;
    flex-direction: column;
    .text__header{
        
        font-size: 50px;
       
        color: $maincolor;
        text-align: center;
       
        @include bolt;
       
    }
}

.text__botom {
    text-align: center;
    font-family: "Roboto-Light";
    font-size: 24px;
    color: $maincolor;
    margin-top: 5%;
}
.btn {
    margin-top: 5%;
   @include centerX;
    
}
.text__btn {
    width: 22%;
    height: 35px;
    border: 1px solid #ff4e50;
    background-color: #ff4e50;
    border-radius: 20px;
    font-size: 14px;
    font-family: $mainfacefont;
    @include center;
    color: #ffff;
    padding: 20px;
}
.text__btn:hover {
    transform: scale(1.2);
    transition: all 0.5s;
}


@media all and (max-width: 1496px) {
    .text__btn {
        width: 30%;
    }

    .text__pick {
        text-align: center;
    }
}


