*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body{
    width: 100%;
    /* height: 100vh; */
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.block{
    width: 100%;
    height: 5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.input ,.btn{
    width: 40%!important;
    height: 100%;
    margin-left: 10px;
}

.btn{
    background-color: #26aa4f;
}
.main {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
    
}
.img__block{
   
    width: 18%;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    margin-left: 20px;
    flex-direction: column;
    
}
.img{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   
    /* justify-content: space-around; */
}
.width{
    width: 100%!important;
    margin-left: 0px!important;;
    height: 50px;
}
.name__Title{
    background-color: #c6c3bf;
    font-weight: bold;
    text-align: center;
    min-height: 73px;
    flex-wrap: wrap;
    padding: 10px;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
}
.name__Type{
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    width: 100%;
    height: 444px;
    box-shadow: 0 0px 6px 0px black
}
.border{
    border: 1px solid #d0cfd1;
}
.detali{
    width: 75rem;
    height: 40rem;
    position: fixed;  
    left: 0;
    right: 0;
    margin: 0 auto;             
    top: 50%;                        
    transform: translate(0, -50%); 
    background-color: #ffff ;
    display: none;
    padding: 20px;
}

.overlay {
    display: none;
    position: fixed;
    left: 0; right: 0; top: 0; bottom: 0;
    background: black;
    opacity: .4;
    z-index: 0;
}
  
.bdr{
    width: 100%;
    height: 100%;
    border: 1px solid #dee2e6;
    padding: 15px;
    display: flex;
}
.img__pick{
    width: 30%;
    height: 100%;
}
.width__block{
    width: 100%;
    height: 15%;
    font-size: 20px;
    padding: 2%;
}

.block__Bat{
    width: 80%;
    display: flex;
    flex-direction: column;
    margin-left: 10px
}
.year{
    height: 10%;
    display: flex;
    align-items: center;
    font-size: 13px;
    color: #aaaaaa;
}
.plot{
    margin-bottom: 10px;
    font-size: 15px;
}
.fa-times{
    width: 14px;    
    color: #a4c9ee;
    cursor: pointer;
    position: relative;
    left: 49rem;
    bottom: 2.7rem;
    display: none;
}
.modal{
    top: 302px!important;
}

.overlay {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: black;
    opacity: .4;
    z-index: 0;
}
.cross{
    font-size: 25px;
    background-color: #ffffff;
    color: black;
    cursor: pointer;
    margin-right: 20px;
}


.res {
    position: absolute;
    left: 50rem;
    bottom: 33.4rem;
    color: #666;
    border: 0;
    display: none;
    outline: none;
    background: none;
    font-size: 20px;
    font-weight: 900;
}   
.form-select{
    height: 100%;
    width: 8%;
}

.btnPage{
    width: 30px!important;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}
.rowPage{
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
}
.modal-body{
    display: flex;
    justify-content: center;
    align-items: center;
}